.xrt-dialog-wrapper {
  position: fixed;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .9);
}

.xrt-dialog {
  /*
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  */
  margin: auto;
  padding: 10px;
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  min-height: 100px;
  max-height: 800px;
  overflow-y: auto;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  display: none;
  opacity: 0;
}

.xrt-dialog.visible {
  display: block;
  opacity: 1;
  animation: xrtAppear .5s;
}

@keyframes xrtAppear {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.xrt-target-tweet {
  padding: 7px 10px;
  border: 1px solid #ccc;
}

.xrt-target-tweet .user {
  font-weight: bold;
  color: #000;
}

.xrt-account {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.xrt-account .xrt-username {
  flex-grow: 1;
}

img.xrt-profile-image {
    width: 32px;
    align-self: center;
    margin: 5px;
    border-radius: 50%;
}

.xrt-buttons {
  padding: 5px 0;
}

.xrt-button {
  margin: 3px;
  padding: 7px 10px;
  border: 0;
  border-radius: 3px;
  background-color: #eaeaea;
  color: #333;
  transition: background-color .3s linear;
}

.xrt-button:hover, .xrt-button:focus {
  background-color: #ddd;
}

.xrt-button.xrt-button-rt,
.xrt-button.xrt-open-original-rt {
  background-color: #50a5e6;
  color: #fff;
}

.xrt-button.xrt-button-rt:hover,
.xrt-button.xrt-button-rt:focus,
.xrt-button.xrt-open-original-rt:hover,
.xrt-button.xrt-open-original-rt:focus {
  background-color: #3b88c3;
}

.xrt-bottom-buttons {
  text-align: right;
  padding: 5px 0;
  border-top: 1px solid #ccc;
}

.xrt-hate-quote-notice {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #f99;
  border-radius: 3px;
  background-color: #ffe0e0;
  color: #633;
}

.xrt-hate-quote-notice hr {
  border-top: 1px solid #633;
  border-bottom: 0;
}

.xrt-hate-quote-notice .notice {
  font-weight: bold;
}
