@charset 'utf-8';

/* 트윗덱 이미지뷰어 */
.tdp-image-viewer {
  position: fixed;
  display: none; /* flex */
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .9);
}
.tiv-imagewrapper {
  display: flex;
  flex: 1;
  padding: 50px;
  margin: 0;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}
.tiv-image {
  display: block;
  background-color: #000;
  margin: auto;
  max-width: 100%;
}
.tiv-toolbar {
  display: flex;
  align-items: baseline;
  padding: 5px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .8);
  -webkit-user-select: none;
  user-select: none;
}
.tiv-btngroup-left {
}
.tiv-title {
  flex-grow: 1;
  padding: 5px;
  text-align: center;
  font-size: 12pt;
}
.tiv-btngroup-right {
}
.tiv-button {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 15px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #666;
  background-color: #333;
  color: #eee;
  font-size: 12pt;
  transition: background-color .2s;
}
.tiv-button:not(:disabled):hover {
  background-color: #555;
}
.tiv-button:disabled {
  opacity: .6;
  cursor: not-allowed;
}
