*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}
#twitter {
  position: fixed;
  display: block;
  width: 1px;
  height: 1px;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}
#tweetdeck {
  width: 100vw;
  height: 100vh;
  margin: 0;
  transition: transform .3s;
}
#bottom-bar {
  padding: 10px;
  width: 100vw;
  height: 100px;
  background-color: black;
}
#right-bar {
  position: fixed;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 500px;
  background-color: #fff;
  transform: translateX(600px);
}
.area-y {
  display: inline-flex;
  margin: 0;
  transition: transform .3s;
}
.edge-bar {
  margin: 0;
  transition: transform .5s;
}
body.show-left-bar #tweetdeck,
body.show-left-bar #left-bar {
  transform: translateX(320px);
}
body.show-right-bar #right-bar {
  transform: none;
}
/*
body.show-bottom-bar #main,
body.show-bottom-bar #bottom-bar {
  transform: translateY(-100px);
}
*/
