.toast-container {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 600px;
  overflow: hidden;
}
.toast {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px;
  padding: 0;
  background-color: #fff;
  color: #333;
  border-left: 10px solid cornflowerblue;
  box-shadow: 0 5px 5px rgba(66, 66, 66, .6);
  animation: slideDown .3s;
}
.toast > div {
  margin: 0;
  padding: 10px;
}
.toast .text {
  flex: 1;
  font-size: 12pt;
  font-family: 'SpoqaHanSans', sans-serif;
  word-break: keep-all;
}
.toast .close {
  cursor: pointer;
}
.toast.hiding {
  animation:  toastHide .3s;
}
@keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: none;
  }
}
@keyframes toastHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
    display: none;
  }
}
